# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Database
db.sqlite3
*.db

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Django
.env
*.log
local_settings.py

# Misc
.cache/
*.bak
