*{
    margin: 0;
    padding: 0;
}
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    background-color: white;
}
body {
    min-height: 100vh;
    background-color: #e8f0fe;
}
main {
    display: flex;
    justify-content: center;
}


.profile-card {
    width: 400px;
    border: 2px solid black;
    border-radius: 10%;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin : 20px;
    display: flex;
    flex-direction: column;
    gap : 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s; 
}
.profile-card:hover {
    transform: translateY(-5px);
    background-color: #f0f7ff;
}

.profile-card img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform 0.3s;
}

.profile-card img:hover {
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
}
ul li a {
    color: #1e40af;
    text-decoration: none;
    transition: color 0.2s;
}

ul li a:hover {
    text-decoration: underline;
    color: orange; 
}

@media (max-width: 500px) {
    .profile-card {
        width: 90%;
    }

    .profile-card img {
        width: 70%;
    }
}
